[Desktop Entry]
Encoding=UTF-8
Name=TaoCoin
Comment=TaoCoin — Original 2017 Legacy Chain — Maintained 2026 by the Xnuva Blockchain Project
Exec=/usr/bin/taocoin-qt %u
Terminal=false
Type=Application
Icon=taocoin
MimeType=x-scheme-handler/taocoin;
Categories=Office;Finance;
